.tecnologias{
    background-color: rgba(17, 17, 17, 0.932);
    min-height: 50vh;
}
.tecnologias h3{
    color: rgb(231, 230, 230);
    text-align: center;
    font-size: 48px;
}

.tecnolotrix{
    position: relative;
    width: 100%;
    height: 250px;
}

.iconoTrix{
    position : absolute;
    max-height: 150px;
    transition-duration: 200ms;

}


.iconoTrix:nth-child(1){
    z-index: 30;
 
    left:10%;
    margin-top:25px;
    margin-left: 21px;
    transition-duration: 200ms;

}
.iconoTrix:nth-child(2){
    z-index: 30;
 
    left: 25%;
    margin-top:25px;
    transition-duration: 200ms;

} 
.iconoTrix:nth-child(7){
    right: 10%;
    margin-top:-1px;
    width: 140px;
    transition-duration: 200ms;

    
}
.iconoTrix:nth-child(6){
    right: 25%;
    transition-duration: 200ms;

}

.sqre {
	position: absolute;
	left: 42.9%;
	width: 150px;
	height: 150px;
	background: rgb(2, 243, 2);
    z-index: 10;
}
.sqr{
    clip-path: polygon(50% 50%, 0 0, 100% 0);
  top: 5px;
}
.sqr2{
    clip-path: polygon(50% 50%, 0 100%, 100% 100%);
    top: -5px;

}


.circl {
	position: absolute;
    top:-2.5rem;
    left: 40%;
    width: 225px;
	height: 225px;
	background: #000000;
	border-radius: 50%;
    z-index: 0;
}

.seleccionado{
    position: absolute;
    left: 43% !important;  
    z-index: 20;
    background-color: rgb(1, 255, 1);
    size:50px;
    border-radius: 50%;
}

.info{
   transition-duration: 300ms;
   opacity: 1;
    display:block;
    font-family: monospace;
    white-space:nowrap;
    border-right: 4px solid;
    text-align: center;
    width: 100%;
}

.escribiendo{
    animation: typing 1s, blink .5s infinite step-end alternate;
}

.achedos{
        color: whitesmoke !important;
}

@keyframes typing{
    from {
        opacity: 0; /* Opacidad inicial: 0 */
    }
    to {
        opacity: 1; /* Opacidad final: 1 */
    }
}

@keyframes blink{
    100% {border-color: transparent;}
}

@media(width<1000px){
    #educacion article{
        gap: 20px;
        background-color: #333333;
        overflow: hidden;
        height: auto;
        width: 90vw;
    }
  .tecnolotrix{
    height:auto
  }
  .segundiv{
     width: 75vw; 
     padding: 2rem; 
     background-color: #333333; 
     border-radius: 10px;
  }
 .achedos{

    font-size: 20px;
    font-weight: bold; 
    text-align: center;
 } 

 .divimagen{
    display: flex;
    justify-content: center;
 }

 .divimagen img{
    width: 150px;
    height: auto;
 }

 .segundiv p{
    text-align: justify;
 }

}